<style>
    .store_area_total {
        padding: 0 20px;
    }
    .store_area_total .store_area_head {
        height: 46px;
        text-align: right;
    }
    .btnBoxZ {
        text-align: center;
        margin-top: 35px;
    }
    .editOrAddBox {
        padding-right: 20px;
    }
    .editOrAddBox>p {
        display: flex;
        margin-bottom: 10px
    }
    .editOrAddBox>p>span:nth-of-type(1) {
        display: inline-block;
        width: 170px;
        text-align: right;
        line-height: 40px;
        padding-right: 10px;
    }
    .editOrAddBox>p>span:nth-of-type(2) {
        flex: 1;
    }
    .redSpan {
        color: #e9232c;
    }
    .successBtn {
        background-color: #00b894;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 4px;
    }
    .defaultBtn {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        padding: 4px 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }
    .alertText {
        text-align: center;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .form-horizontal.readonly input {
        border:none;
    }
    .form-horizontal.readonly textarea {
        border:none;
    }
</style>
<div class="store_area_total">
    <div class="store_area_head" *ngIf="canManageStore">
        <span class="successBtn" (click)="addClick('1', addModel)">
            <i class="icon-add"></i><span>添加</span>
        </span>
    </div>
    <div class="store_area_content" style="height: 790px;overflow: auto;">
        <table class="table dataTable table-striped table-hover">
            <thead>
                <tr>
                    <th width="200px">
                        <span>存庫區域編碼</span>
                    </th>
                    <th width="300px">
                        <span>存庫區域名稱</span>
                    </th>
                    <th>
                        <span>備註</span>
                    </th>
                    <th width="200px">
                        <span>操作</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="{{item.id}}" *ngFor="let item of tableData">
                <!-- <td class="wd20 checkthis btn-xs tick-parent">
                    <dx-check-box [(value)]="list.selectItem" (click)="bodyCheckbox_clk(list.id)" [(id)]="list.code"  class="button-info">
                    </dx-check-box>
                </td> -->
                <td width="200px">
                    {{item.code}}
                </td>
                <td width="300px">
                    {{item.name}}
                </td>
                <td>
                    {{item.note}}
                </td>
                <td width="200px">
                    <button class="btn btn-detail btn-primary btn-xs correlate"  (click)="addClick('3', item)">
                    <i class="icon-details1 icon-font-size20" title="詳情"></i>
                    </button>
                    <button *ngIf="canManageStore" class="btn-update btn btn-primary btn-xs" (click)="addClick('2', item)">
                    <i class="icon-Edit1 icon-font-size20" title="編輯"></i>
                    </button>
                    <button *ngIf="canManageStore" class="btn-del btn btn-primary btn-xs" (click)="clk_del(item)">
                    <i class="icon-del icon-font-size20" title="刪除"></i>
                    </button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <dx-popup [width]="650" [height]="400" [showTitle]="true" title="{{addOrEditTitle}}" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [(visible)]="addVisiable">
    <div *dxTemplate="let data of 'content'">
        <div class="editOrAddBox" *ngIf="addVisiable">
            <p>
                <span>倉庫區域編碼<span class="redSpan">*</span></span>
                <span>
                    <dx-text-box [(value)]="addModel.code" style="width: 100%" [disabled]="disabledFlag === '3'"  [maxLength]="36">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'倉庫區域編碼不能為空'|translate}}"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </span>
            </p>
            <p>
                <span>倉庫區域名稱<span class="redSpan">*</span></span>
                <span>
                    <dx-text-box [(value)]="addModel.name" style="width: 100%" [disabled]="disabledFlag === '3'" [maxLength]="36">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'倉庫區域名稱不能為空'|translate}}"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </span>
            </p>
            <p>
                <span>備註</span>
                <span>
                    <dx-text-area [height]="100" [maxLength]="1000" [disabled]="disabledFlag === '3'" [(value)]="addModel.note" style="width: 100%" [maxLength]="500"></dx-text-area>
                </span>
            </p>
        </div>
        <div class="btnBoxZ" *ngIf="disabledFlag !== '3'">
            <dx-button text="確定" (click)="save()" type="success" icon="nicon icon-Save23" [useSubmitBehavior]="true"></dx-button>
            <dx-button text="取消" (click)="back()" type="default" icon="nicon icon-Cancel-29"></dx-button>
        </div>
        <div *ngIf="disabledFlag === '3'" style="text-align: right;padding-right: 20px;">
            <dx-button text="返回" (click)="back()" type="default" icon="nicon icon-Cancel-29"></dx-button>
        </div>
    </div>
</dx-popup> -->
<dx-popup [width]="700" [height]="350" [showTitle]="true" title="{{addOrEditTitle}}" [dragEnabled]="true" [closeOnOutsideClick]="false"
    [(visible)]="addVisiable">
    <div *dxTemplate="let data of 'content'">
        <div class="modal-body" >
            <form #areaForm="ngForm" (ngSubmit)="save()" class="form-horizontal" [ngClass]="{'readonly':disabledFlag === '3'}" autocomplete="off">
                <fieldset>
                    <div *ngIf="addVisiable">
                        <div class="form-group">
                            <label for="code" class="control-label col-sm-3">存庫區域編碼<em class="requireTip">*</em></label>
                            <div class="col-sm-9">
                                <input #code="ngModel" [disabled]="disabledFlag === '3'" [ngClass]="{'errorClass':code.touched&&!code.valid }"
                                    maxlength="200" requiredValid name="code" [(ngModel)]="addModel.code" type="text"
                                    class="col-sm-12" id="code">
                                <span *ngIf="code.errors && (code.dirty||code.touched)" class="validate-message">
                                    <span [hidden]="!code.errors.requiredValid ">存庫區域編碼不能為空</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label col-sm-3">存庫區域名稱<em class="requireTip">*</em></label>
                            <div class="col-sm-9">
                                <input #name="ngModel" [disabled]="disabledFlag === '3'" [ngClass]="{'errorClass':name.touched&&!name.valid }"
                                    maxlength="200" requiredValid name="name" [(ngModel)]="addModel.name" type="text"
                                    class="col-sm-12" id="name">
                                <span *ngIf="name.errors && (name.dirty||name.touched)" class="validate-message">
                                    <span [hidden]="!name.errors.requiredValid ">存庫區域名稱不能為空</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="note" class="control-label col-sm-3">備註</label>
                            <div class="col-sm-9">
                                <textarea name="note" [disabled]="disabledFlag === '3'" type="text" maxlength="2000" class="col-sm-12" id="note" [(ngModel)]="addModel.note"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer" *ngIf="disabledFlag !== '3'">
            <button type="submit" [disabled]="!areaForm.form.valid" (click)="save()" class="smallBtn btn btn-primary"><i
                    class="newicon icon-Submit font-size22"></i><span>確定</span></button>
            <button (click)="back()" type="reset" class="btn smallBtn btn-default"><i class="newicon icon-Cancel-29 font-size22"></i><span>取消</span></button>
        </div>
        <div class="modal-footer" *ngIf="disabledFlag === '3'">
            <button (click)="back()" type="reset" class="btn smallBtn btn-default"><i class="newicon icon-Cancel-29 font-size22"></i><span>返回</span></button>
        </div>
    </div>
</dx-popup>
<dx-popup [width]="300" [height]="200" [showTitle]="true" title="提示訊息" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [(visible)]="deleteVisiable">
    <div *dxTemplate="let data of 'content'">
        <div class="alertText">
            <p>確定刪除該條訊息?</p>
        </div>
        <div style="text-align: center;">
            <button style="margin-right:10px" type="submit" (click)="confirm_click()" class="smallBtn btn btn-primary"><i class="newicon icon-Submit font-size22"></i><span>確定</span></button>
            <button type="reset" (click)="cancel_click()" class="smallBtn btn btn-default"><i class="newicon icon-Cancel-29 font-size22"></i><span>取消</span></button>
        </div>
    </div>
</dx-popup>